@keyframes rotateReload {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --color-primary: hsla(0, 0%, 100%, 0.8);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

span {
  margin: 0;
}

/* Counter */
.counter {
  background: linear-gradient(to top right, #2ec1c8, #30176b);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 35rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Display */
.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.display__heading {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 4rem;
  font-size: 1.8rem;
}

.display__heading--bold {
  font-weight: 800;
}

.display__number {
  font-size: 10rem;
  padding-bottom: 1rem;
}

.display__reload {
  fill: var(--color-primary);
  height: 35px;
}

/* Add when clicked on the button (add timeout 1s in JS) */
.display__reload--animation {
  animation: rotateReload 1.5s linear;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1px;
}

.button--change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10rem;
  background-color: var(--color-primary);
  color: hsl(202, 52%, 41%);
  font-size: 3rem;
}

.button--change:active {
  color: hsl(253, 56%, 28%);
}
